*{
    font-family: 'Alexandria';
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}
button{
    cursor: pointer;
}
.header{
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 494px;  */
    padding: 0px 80px;
    /* position: fixed; */
    /* top: 0;width: 90%;
    background-color: #FFF; */
}

.googl-play{
    display: flex;
    width: 170px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid #158443;
    border-radius: var(--radius-rounded-md, 6px);
    background: var(--background-bg-background, #FFF);
}
.contact-us{
    width: 148px;
    height: 54px;
    padding: 8px 16px;
    justify-content: center;
    gap: 10px;
    border-radius: 6px;
    border: 0px;
    background: #158443;
    color: #FFF;
    font-family: Alexandria;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
}
.hero{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap:32px;
    justify-content: center;
    align-items: center;
}
.first{
    background-image:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="798" height="852" viewBox="0 0 798 852" fill="none"><path d="M-566.5 0H798L650 852H-566.5V0Z" fill="%23158443"/></svg>');background-repeat: no-repeat;
    display: flex;
    padding: 0px 80px;
    justify-content: center;
    align-items: center;
    height: 500 px;
    width: 1365px;
}
.first-text{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
    color: #FFF;
    font-family: Alexandria;
    font-size: 27.857px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;;
    width: 500px;
}
.main-title{
    color: #FFF;
    font-family: Alexandria;
    font-size: 41.786px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/* -----------bento box------------ */
.box{
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 24px;
    padding:0px 80px;
}
.right-side,.left-side{
    flex: 1;
    display:flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}
lottie-player{
    flex-shrink: 0;
}
/* -----------------------right section ------------- */
.right-first-photo{
    width: 484px;
    height: 402px;
    border-radius: 32px;
    background-image: url('images/color_silver_shadow_true\ 1.png');
    background-repeat: no-repeat;
    border: 1px solid var(--border-border-border, #E4E4E7);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
.right-first-text{
    display: flex;
    width:420px;
    height: 228px;
    padding: 16px 48px 16px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 32px;
    border: 1px solid var(--border-border-border, #E4E4E7);
    background: var(--background-bg-background, #FFF);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);   
}
.rg-text{
    width: 361px;
    height: 158px;
    flex-shrink: 0;
    color: #000;
    text-align: right;
    font-family: Alexandria;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    gap: 10px;
}
.rg-first-text-main-text{
    color: #000;
    text-align: right;
    font-family: Alexandria;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 125.303%; /* 50.121px */
}
.right-second-photo{
    width: 484px;
    height: 510px;
    flex-shrink: 0;
    border-radius: 32px;
    border: 1px solid var(--border-border-border, #E4E4E7);
    background-image: url('images/schedule.png');
    background-repeat: no-repeat;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);    
}
.right-second-text{
    display: flex;
    width: 420px;
    height: 390px;
    padding: 16px 48px 16px 16px;
    flex-direction: column;
    justify-content: center;
    text-align: end;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 32px;
    border: 1px solid var(--border-border-border, #E4E4E7);
    background: var(--background-bg-background, #FFF);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
.rg-sec-text-main{
    width: 384px;
    color: #000;
    font-family: Alexandria;
    align-self: flex-end;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 125.303%; /* 50.121px */
}
.rg-sec-container{
    display: flex;
    flex-direction: row-reverse;
    gap: 29px;
}
.rg-sec-container-text{
    color: #000;
    text-align: right;
    font-family: Alexandria;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    width: 252px;
    height: 102px;
}

/* -----------------left section-------------------------- */
.left-first-box{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.left-first-box-first-text{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #158443;
    display: flex;
    width: 484px;
    padding: 40px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--border-border-border, #E4E4E7);
    border-radius: 32px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    color: #FFF;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 125.303%;
}
#Nadifa{
    color: #FFF;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 125.303%;
}
.left-first-box-scond-text{
    width: 416px;
    height: 228px;
    padding:16px 48px 16px 16px;
    text-align: end;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 32px;
    border: 1px solid var(--border-border-border, #E4E4E7);
    background: var(--background-bg-background, #FFF);
    /* shadwoooo */
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
.lf-first-box-text-container{
    width: 287.25px;
    height: 158px;
    gap: 10px;
    flex-shrink: 0;
}
.lf-first-box-sec-text-main-text{
    color: #000;
    text-align: right;
    font-family: Alexandria;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 125.303%;
    width: 280.884px;
}
.lf-first-box-sec-text-par{
    color: #000;
    text-align: right;
    font-family: Alexandria;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
}
.left-second-photo{
    display: flex;
    width: 235px;
    height: 154px;
    padding: 124px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 32px;
    border: 1px solid var(--border-border-border, #E4E4E7);
    background: rgba(255, 255, 255, 0.00);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
.left-second-text{
    display: flex;
    width: 416px;
    height: 228px;
    padding: 16px 48px 16px 16px;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row-reverse;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 32px;
    border: 1px solid var(--border-border-border, #E4E4E7);
    background: var(--background-bg-background, #FFF);

    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
.lf-sec-text-container{
    width: 287.25px;
    height: 134px;
    flex-shrink: 0;
    gap: 10px;
}
.lf-sec-text-main{
    color: #000;
    text-align: right;
    font-family: Alexandria;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 125.303%; /* 50.121px */
}
.left-third-photo{
    display: flex;
    justify-content: center;
    width: 484px;
    height: 253px;
    flex-shrink: 0;
    border-radius: 32px;
    border: 1px solid var(--border-border-border, #E4E4E7);
    background: rgba(255, 255, 255, 0.00);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
.left-forth-photo{
    display: flex;
    justify-content: center;
    width: 484px;
    height: 253px;
    flex-shrink: 0;
    border-radius: 32px;
    border: 1px solid var(--border-border-border, #E4E4E7);
    background: var(--background-bg-background, #FFF);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
/* -------------------------------------------- */
.contact{
    display: flex;
    width: 860px;
    padding: 32px 64px;
    align-items: center;
    justify-content: space-between;

    flex-direction: row-reverse;
    border-radius: 32px;
    border: 1px solid var(--border-border-border, #E4E4E7);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
.social-media{
    height: 64px;
    flex-shrink: 0;
    gap: 16px;
    display: flex;
    color: #000;
    font-family: Alexandria;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
    flex-direction: row-reverse;
}